@font-face {
    font-family: "NotoSerifKR"; /* 사용하고 싶은 font-family명을 지정 */
    font-style: normal;
    src: url("../font/NotoSerifKR-Regular.otf") format("opentype"); /* 폰트파일 불러오기 */
}
@font-face {
    font-family: "nulit"; /* 사용하고 싶은 font-family명을 지정 */
    src: url("../font/nulit.ttf") format("truetype"); /* 폰트파일 불러오기 */
}

@font-face {
    font-family: "songle"; /* 사용하고 싶은 font-family명을 지정 */
    src: url("../font/nanumson.ttf") format("truetype"); /* 폰트파일 불러오기 */
}



body{
    font-family: 'songle';
}

.nanum{
    font-family: 'NotoSerifKR';
}



section {
    /* background-image: url('../img/main_bg.jpg');
    background-size: cover; */
    
}

.whiteline{
    background-color: black;
    width: auto;
    height: 3px;
    border-radius: 10px;
}